.accordion-container {
  /* border: 1px solid #ddd;
  border-radius: 5px; */
}

.accordion-item {
  border: 1px solid #ddd;
}

.accordion-header {
  padding: 12px 16px;
  /* background: #f8f9fa; */
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.accordion-body {
  overflow: hidden;
}

.accordion-content {
  padding: 12px 16px;
  background: white;
  line-height: 3;
}

.accordion-header:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}


.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Title & Arrow on opposite sides */
  padding: 0.8rem 1rem;
  background: #f8f9fa;
  cursor: pointer;
  border: 1px solid #ddd;
  font-weight: 500;
   transition: transform 0.3s ease; /* Smooth effect */
}

.accordion-left-icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.accordion-title {
  flex: 1; /* Take remaining space */
}

.accordion-arrow {
  transition: transform 0.3s ease;
}

.accordion-arrow.open {
  transform: rotate(180deg);
}

.accordion-body {
  border: 1px solid #ddd;
  border-top: none;
}

.accordion-content {
  padding: 1rem;
  background: white;
}
